{
"accessibility.blockautorefresh":true,
"browser.newtab.url":"about:blank",
"browser.pocket.api":"",
"browser.pocket.enabled":false,
"browser.pocket.enabledLocales":"",
"browser.pocket.oAuthConsumerKey":"",
"browser.pocket.site":"",
"browser.pocket.useLocaleList":false,
"browser.safebrowsing.appRepURL":"",
"browser.safebrowsing.downloads.enabled":false,
"browser.safebrowsing.enable":false,
"browser.safebrowsing.malware.enabled":false,
"browser.search.defaultenginename": "DuckDuckGo",
"browser.search.openintab":true,
"browser.search.showOneOffButtons":false,
"browser.search.suggest.enabled":false,
"browser.urlbar.trimURLs":false,
"datareporting.healthreport.service.enabled":false,
"datareporting.healthreport.uploadEnabled":false,
"dom.event.clipboardevents.enable":false,
"general.warnOnAboutConfig":false,
"geo.enabled":false,
"layers.acceleration.force-enabled":true,
"loop.enabled":true,
"media.directshow.enabled":false,
"media.eme.enabled":false,
"media.gmp-eme-adobe.enabled":false,
"media.peerconnection.enabled":false,
"media.windows-media-foundation.enabled":false,
"network.http.sendRefererHeader":0,
"network.http.speculative-parallel-limit":0,
"network.proxy.socks_remote_dns":true,
"plugins.click_to_play":true,
"privacy.trackingprotection.enabled":true,
"security.ssl3.dhe_rsa_aes_128_sha":false,
"security.ssl3.dhe_rsa_aes_256_sha":false,
"security.tls.version.max":3,
"security.tls.version.min":2,
"toolkit.telemetry.enabled":false
}