{
"accessibility.blockautorefresh":true,
"browser.cache.disk.enable": false,
"browser.download.panel.shown": true,
"browser.newtab.url":"about:blank",
"browser.pocket.api":"",
"browser.pocket.enabled":false,
"browser.pocket.enabledLocales":"",
"browser.pocket.oAuthConsumerKey":"",
"browser.pocket.site":"",
"browser.pocket.useLocaleList":false,
"browser.safebrowsing.appRepURL": "",
"browser.safebrowsing.downloads.enabled": false,
"browser.safebrowsing.downloads.remote.enabled": false,
"browser.safebrowsing.enabled": false,
"browser.safebrowsing.gethashURL": "",
"browser.safebrowsing.malware.enabled": false,
"browser.safebrowsing.malware.reportURL": "",
"browser.safebrowsing.reportErrorURL": "",
"browser.safebrowsing.reportGenericURL": "",
"browser.safebrowsing.reportMalwareErrorURL": "",
"browser.safebrowsing.reportMalwareURL": "",
"browser.safebrowsing.reportPhishURL": "",
"browser.safebrowsing.reportURL": "",
"browser.safebrowsing.updateURL": "",
"browser.search.defaultenginename": "DuckDuckGo",
"browser.search.geoip.url": "",
"browser.search.openintab":true,
"browser.search.showOneOffButtons":false,
"browser.search.suggest.enabled":false,
"browser.startup.page": 0,
"browser.tabs.warnOnClose": false,
"browser.tabs.warnOnOpen": false,
"browser.trackingprotection.gethashURL": "",
"browser.trackingprotection.updateURL": "",
"browser.urlbar.trimURLs":false,
"datareporting.healthreport.service.enabled":false,
"datareporting.healthreport.uploadEnabled":false,
"dom.event.clipboardevents.enable":false,
"general.appname.override": "",
"general.appversion.override": "",
"general.oscpu.override": "",
"general.platform.override": "",
"general.useragent.override": "Mozilla/5.0 ()",
"general.useragent.vendor": "",
"general.warnOnAboutConfig":false,
"geo.enabled":false,
"geo.wifi.uri": "",
"loop.enabled":true,
"media.directshow.enabled":false,
"media.eme.enabled":false,
"media.gmp-eme-adobe.enabled":false,
"media.peerconnection.enabled":false,
"media.windows-media-foundation.enabled":false,
"network.dns.disablePrefetch":true,
"network.http.sendRefererHeader":0,
"network.http.speculative-parallel-limit":0,
"network.proxy.socks_remote_dns":true,
"plugins.click_to_play":true,
"privacy.trackingprotection.enabled":true,
"security.ssl3.dhe_rsa_aes_128_sha":false,
"security.ssl3.dhe_rsa_aes_256_sha":false,
"security.tls.version.max":3,
"security.tls.version.min":2,
"services.sync.prefs.sync.browser.safebrowsing.enabled":false,
"services.sync.prefs.sync.browser.safebrowsing.malware.enabled":false,
"toolkit.telemetry.enabled":false
}